*.pyc
.DS_Store
.idea
build/
data/*/data
models/__pycache__/
models/*/__pycache__/
models/*/preprocess/__pycache__/
utils/__pycache__/
models/checkpoints/
models/metrics/*.csv
models/sent140/embs.json
_build/
_templates/
autodoc/
